<br><br>
<div class=" menu">
    <img src="../../../../assets/img/slide/2.jpg" style="width:80px; "
        class="col-lg-3 col-form-label form-control-label">
    <button class="btn bt1" routerLink="/dashboard/home">TRANG CHỦ</button>
    <button class="btn bt1" routerLink="/dashboard/user">LỊCH ĐẶT SÂN CỦA NGƯỜI DÙNG</button>
    <button class="btn bt1" routerLink="/dashboard/quans">DANH DÁCH CÁC QUÁN</button>
    <img src="../../../../assets/img/slide/4.jpg" style="width:80px; "
        class="col-lg-3 col-form-label form-control-label">
</div>